[Unit]
Description=Limits resources

[Service]
ExecStart=/bin/bash -c "/usr/bin/yes > /dev/null"
CPUQuota=20%
MemoryLimit=50M
MemoryMax=60M 

[Install]
WantedBy=multi-user.target
